Repository microsoft/moaw, changes with the owners that CODEOWNERS names for each.
All owners: @sinedied, @cmaneu, @mosabami, @duffney, @SophCarp, @Jcardif, @BethanyJep, @ypauldotyu, @Philess, @yoshioterada

CODEOWNERS:

# Default owners of the repository
*   @sinedied @cmaneu

# Workshop owners
workshops/aks-openai-embeddings/                @mosabami 
workshops/deploying-to-azure-container-apps/    @duffney @SophCarp
workshops/fabric-e2e-serengeti/                 @Jcardif @BethanyJep
workshops/getting-started-with-aks/             @ypauldotyu
workshops/semantic-kernel-ws/                   @Philess
workshops/github-copilot/                       @Philess
workshops/github-copilot-java/                  @yoshioterada

Removed overview
  workshops/fhir-on-azure/workshop.md
Owners: @sinedied, @cmaneu

update markers
  workshops/fhir-on-azure/workshop.md
Owners: @sinedied, @cmaneu

Add tip marker and fix spacing
  workshops/fhir-on-azure/workshop.md
Owners: @sinedied, @cmaneu

fix
  workshops/fhir-on-azure/workshop.md
Owners: @sinedied, @cmaneu

fix formatting and add emojis
  workshops/fhir-on-azure/workshop.md
Owners: @sinedied, @cmaneu

docs: Add FHIR on Azure workshop (#129)
  workshops/fhir-on-azure/assets/app-id.png
  workshops/fhir-on-azure/assets/bearer-test-section.png
  workshops/fhir-on-azure/assets/bearer-token.png
  workshops/fhir-on-azure/assets/capability-statement.png
  workshops/fhir-on-azure/assets/client-secret.png
  workshops/fhir-on-azure/assets/create-new-registration.png
  workshops/fhir-on-azure/assets/create-patient-response.png
  workshops/fhir-on-azure/assets/create-patient.png
  workshops/fhir-on-azure/assets/fhir-bundles-processed.png
  workshops/fhir-on-azure/assets/fhir-endpoint.png
  workshops/fhir-on-azure/assets/fhir-loader-button.png
  workshops/fhir-on-azure/assets/fhir-loader-deploy-2.png
  workshops/fhir-on-azure/assets/fhir-loader-deploy.png
  workshops/fhir-on-azure/assets/fhir-service-creation.png
  workshops/fhir-on-azure/assets/fhir-service-search.png
  workshops/fhir-on-azure/assets/member-selection.png
  workshops/fhir-on-azure/assets/new-collection.png
  workshops/fhir-on-azure/assets/new-environment.png
  workshops/fhir-on-azure/assets/new-registration-button.png
  workshops/fhir-on-azure/assets/patient-body.png
  workshops/fhir-on-azure/assets/practitioner-search.png
  workshops/fhir-on-azure/assets/retrieve-patient.png
  workshops/fhir-on-azure/assets/role-assignment.png
  workshops/fhir-on-azure/assets/role-selection.png
  workshops/fhir-on-azure/assets/search-app-registration.png
  workshops/fhir-on-azure/assets/storage-account.png
  workshops/fhir-on-azure/assets/synthea-download.png
  workshops/fhir-on-azure/assets/upload-button.png
  workshops/fhir-on-azure/assets/workspace-creation.png
  workshops/fhir-on-azure/assets/workspace-search.png
  workshops/fhir-on-azure/workshop.md
Owners: @sinedied, @cmaneu

Handle GitHub Copilot Labs deprecation
  workshops/github-copilot/workshop.md
Owners: @Philess

Use GitHub Copilot Chat instead of deprecated GitHub Copilot Labs add-in
  workshops/github-copilot/workshop.md
Owners: @Philess

Remove GitHub Copilot Labs image
  workshops/github-copilot/assets/github-copilot-labs.png
Owners: @Philess

Various updates
  workshops/github-copilot/assets/quickchat2.png
  workshops/github-copilot/workshop.md
Owners: @Philess

docs: Handle GitHub Copilot Labs deprecation (#107)
  workshops/github-copilot/assets/github-copilot-labs.png
  workshops/github-copilot/assets/quickchat2.png
  workshops/github-copilot/workshop.md
Owners: @Philess

feat: Update tags for Functions lab.
  packages/database/external.yml
Owners: @sinedied, @cmaneu

docs: update tags for Functions lab. (#131)
  packages/database/external.yml
Owners: @sinedied, @cmaneu

Add Japanese translation of GitHub Copilot workshop
  workshops/github-copilot/translations/assets/agents.png
  workshops/github-copilot/translations/assets/banner.jpg
  workshops/github-copilot/translations/assets/git-commit.png
  workshops/github-copilot/translations/assets/git-commit2.png
  workshops/github-copilot/translations/assets/quickchat.png
  workshops/github-copilot/translations/assets/src/completesolution.zip
  workshops/github-copilot/translations/assets/src/exercisefiles.zip
  workshops/github-copilot/translations/workshop.ja.md
Owners: @Philess

Fix markdown styling
  workshops/github-copilot/translations/workshop.ja.md
  workshops/github-copilot/workshop.md
Owners: @Philess

Add GitHub Copilot Chat exercises section in Japanese
  workshops/github-copilot/translations/workshop.ja.md
Owners: @Philess

fix: allow navbar links to stay visible when resizing (fixes #126)
  packages/website/src/app/shared/components/header.component.ts
Owners: @sinedied, @cmaneu

fix: improve reflow and allow unlocked layout (fixes #111)
  packages/website/src/app/shared/components/header.component.ts
  packages/website/src/theme/_layout.scss
  packages/website/src/theme/_responsive.scss
  packages/website/src/theme/_variables.scss
Owners: @sinedied, @cmaneu

fix: add main landmark to home page (fixes #113)
  packages/website/src/app/home/home.component.ts
Owners: @sinedied, @cmaneu

fix: missing main landmark on catalog (fixes #115)
  packages/website/src/app/catalog/catalog.component.ts
Owners: @sinedied, @cmaneu

fix: missing main landmarks
  packages/website/src/app/deck/deck.component.ts
  packages/website/src/app/page/page.component.ts
  packages/website/src/app/workshop/workshop.component.ts
Owners: @sinedied, @cmaneu

fix: multiple h1 on home page (fixes #109)
  packages/website/src/app/home/home.component.ts
Owners: @sinedied, @cmaneu

fix: footer headings hierarchy (fixes #114)
  packages/website/src/app/shared/components/footer.component.ts
  packages/website/src/styles.scss
  packages/website/src/theme/_accessibility.scss
Owners: @sinedied, @cmaneu

fix: logo accessible name (fix #116)
  packages/website/src/app/shared/components/header.component.ts
Owners: @sinedied, @cmaneu

chore: cleanup unneeded properties
  packages/database/external.yml
Owners: @sinedied, @cmaneu

feat: add navigation_numbering option (closes #73)
  packages/website/src/app/shared/components/header.component.ts
  packages/website/src/app/shared/components/sidebar.component.ts
  packages/website/src/app/shared/frontmatter.ts
  packages/website/src/app/shared/loader.ts
  packages/website/src/app/workshop/workshop.component.ts
  packages/website/src/app/workshop/workshop.ts
  template/workshop/workshop.md
  workshops/create-workshop/workshop.md
Owners: @sinedied, @cmaneu

fix: update logo to be visible on dark background (fixes #110)
  packages/website/src/public/images/moaw-logo-dark.png
Owners: @sinedied, @cmaneu

fix: back to top not working on catalog (fixes #119)
  packages/website/src/app/catalog/catalog.component.ts
  packages/website/src/app/shared/components/footer.component.ts
Owners: @sinedied, @cmaneu

fix: reset focus to top after navigation (fixes #123)
  packages/website/src/app/shared/focus.ts
  packages/website/src/app/workshop/pagination.component.ts
Owners: @sinedied, @cmaneu

fix: set focus style and fix code block offset (fixes #118)
  packages/website/src/theme/_accessibility.scss
  packages/website/src/theme/_common.scss
Owners: @sinedied, @cmaneu

fix: incorrect name on heading anchors (fixes #125)
  packages/website/src/app/shared/markdown.ts
Owners: @sinedied, @cmaneu

fix: previous/next button not announcing page name (fixes #120)
  packages/website/src/app/workshop/pagination.component.ts
Owners: @sinedied, @cmaneu

fix: hide empty table header rows (fixes #117)
  packages/website/src/theme/_base.scss
Owners: @sinedied, @cmaneu

feat: add workshop search results (fixes #112)
  packages/website/src/app/catalog/catalog.component.ts
Owners: @sinedied, @cmaneu

refactor: improve visually hidden helper
  packages/website/src/theme/_accessibility.scss
Owners: @sinedied, @cmaneu

fix: missing h1 heading (fixes #124)
  packages/website/src/app/workshop/workshop.ts
Owners: @sinedied, @cmaneu

fix: footer links landmark (fixes #114)
  packages/website/src/app/shared/components/footer.component.ts
Owners: @sinedied, @cmaneu

chore: fix content hierarchy (fixes #124)
  workshops/create-workshop/workshop.md
Owners: @sinedied, @cmaneu

chore: update Azure AI Search API key
  workshops/fabric-e2e-rag/workshop.md
Owners: @sinedied, @cmaneu

Fix the issue 133 for GitHub Copilot Java: Spring Boot Application failed unzip
  workshops/github-copilot-java/workshop.md
Owners: @yoshioterada
