Repository microsoft/moaw, changes with the owners that CODEOWNERS names for each.
All owners: @sinedied, @cmaneu, @mosabami, @duffney, @SophCarp, @Jcardif, @BethanyJep, @ypauldotyu, @Philess, @yoshioterada

CODEOWNERS:

# Default owners of the repository
*   @sinedied @cmaneu

# Workshop owners
workshops/aks-openai-embeddings/                @mosabami 
workshops/deploying-to-azure-container-apps/    @duffney @SophCarp
workshops/fabric-e2e-serengeti/                 @Jcardif @BethanyJep
workshops/getting-started-with-aks/             @ypauldotyu
workshops/semantic-kernel-ws/                   @Philess
workshops/github-copilot/                       @Philess
workshops/github-copilot-java/                  @yoshioterada

docs: fix the issue 133 for GitHub Copilot Java: Spring Boot Application failed unzip (fixes #133)
  workshops/github-copilot-java/workshop.md
Owners: @yoshioterada

docs: update create workshop
  workshops/create-workshop/assets/copy-url.png
  workshops/create-workshop/assets/create-codespace.png
  workshops/create-workshop/assets/create-pr.png
  workshops/create-workshop/assets/create-repo-from-template.png
  workshops/create-workshop/assets/fork.png
  workshops/create-workshop/assets/open-pr.png
  workshops/create-workshop/workshop.md
Owners: @sinedied, @cmaneu

docs: update contributing guide
  CONTRIBUTING.md
Owners: @sinedied, @cmaneu

docs: update prerequisites
  workshops/create-workshop/workshop.md
Owners: @sinedied, @cmaneu

docs: fix docs
  workshops/create-workshop/workshop.md
Owners: @sinedied, @cmaneu

chore: update Azure AI Search API key (#132)
  workshops/fabric-e2e-rag/workshop.md
Owners: @sinedied, @cmaneu

docs: fix instructions
  workshops/create-workshop/workshop.md
Owners: @sinedied, @cmaneu

chore: update template headings
  template/workshop/workshop.md
  workshops/create-workshop/workshop.md
Owners: @sinedied, @cmaneu

chore: update dependencies
  package-lock.json
Owners: @sinedied, @cmaneu

feat(cli): update preview URL when using Codespaces
  packages/cli/src/commands/serve.ts
Owners: @sinedied, @cmaneu

fix(cli): https git repo not being detected
  packages/cli/src/repository.ts
Owners: @sinedied, @cmaneu

chore: update deps
  package-lock.json
  packages/cli/package.json
Owners: @sinedied, @cmaneu

chore: update dependencies
  package-lock.json
  packages/cli/package.json
Owners: @sinedied, @cmaneu

chore: update dependencies
  package-lock.json
Owners: @sinedied, @cmaneu

chore: fix lint issues
  packages/cli/package.json
  packages/cli/src/commands/serve.ts
Owners: @sinedied, @cmaneu

fix(cli): https git repo not being detected
  packages/cli/src/repository.ts
Owners: @sinedied, @cmaneu

feat(cli): update preview URL when using Codespaces
  packages/cli/src/commands/serve.ts
Owners: @sinedied, @cmaneu

chore: update dependencies
  package-lock.json
Owners: @sinedied, @cmaneu

chore: update deps
  package-lock.json
  packages/cli/package.json
Owners: @sinedied, @cmaneu

chore: fix lint issues
  packages/cli/package.json
  packages/cli/src/commands/serve.ts
Owners: @sinedied, @cmaneu

chore: update dependencies
  package-lock.json
  packages/cli/package.json
Owners: @sinedied, @cmaneu

chore: update dependencies
  package-lock.json
Owners: @sinedied, @cmaneu

chore(release): 1.5.0 [skip ci]
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Owners: @sinedied, @cmaneu

Notes added by 'git notes add'
  d594d85b6498fd0488da51adab4be3bd1262a092
Owners: @sinedied, @cmaneu

fix(cli): incorrect repo parsing
  packages/cli/src/repository.ts
Owners: @sinedied, @cmaneu

chore(release): 1.5.1 [skip ci]
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Owners: @sinedied, @cmaneu

Notes added by 'git notes add'
  b052b9d2d7c56f4525030f5127af8a412254a7ed
Owners: @sinedied, @cmaneu

chore: add clarity
  packages/website/src/public/index.html
Owners: @sinedied, @cmaneu

fix: links in headings and incorrect aria labels (fixes #135)
  packages/website/src/app/shared/markdown.ts
Owners: @sinedied, @cmaneu

feat: Add new Hands On Lab: Platform Engineering for Ops
  packages/database/external.yml
Owners: @sinedied, @cmaneu

docs: Add Product Hands-on Lab - Platform engineering for Ops (#136)
  packages/database/external.yml
Owners: @sinedied, @cmaneu

feat: Add external workshop Platform engineering for devs
  packages/database/external.yml
Owners: @sinedied, @cmaneu

fix: Fix typo
  packages/database/external.yml
Owners: @sinedied, @cmaneu

docs: Add external workshop Platform engineering for devs (#137)
  packages/database/external.yml
Owners: @sinedied, @cmaneu

chore: update tags for workshop platform engineering for ops
  packages/database/external.yml
Owners: @sinedied, @cmaneu

chore: update tags for workshop platform engineering for ops (#138)
  packages/database/external.yml
Owners: @sinedied, @cmaneu

chore: update StatsLite endpoint
  packages/website/src/public/statslite.js
Owners: @sinedied, @cmaneu

chore: update StatsLite endpoint
  packages/website/src/public/statslite.js
Owners: @sinedied, @cmaneu

Rename GItHub Copilot agents to chat participants and add terminal chat participant
  workshops/github-copilot/workshop.md
Owners: @Philess

docs: rename GItHub Copilot agents to chat participants and add terminal chat participant (#141)
  workshops/github-copilot/workshop.md
Owners: @Philess
