Repository microsoft/moaw, changes with the owners that CODEOWNERS names for each.
All owners: @sinedied, @cmaneu, @mosabami, @duffney, @SophCarp, @Jcardif, @BethanyJep, @ypauldotyu, @Philess, @yoshioterada

Updated the Static web app workshop with latest programming model of SWA
  workshops/swa-cosmosdb/assets/Function_execute.png
  workshops/swa-cosmosdb/assets/UserId_inspect.png
  workshops/swa-cosmosdb/assets/banner.jpg
  workshops/swa-cosmosdb/assets/connection-string copy.png
  workshops/swa-cosmosdb/assets/create-db copy.png
  workshops/swa-cosmosdb/assets/dev-container copy.png
  workshops/swa-cosmosdb/assets/finish copy.png
  workshops/swa-cosmosdb/assets/function_local_run.png
  workshops/swa-cosmosdb/assets/github-actions copy.png
  workshops/swa-cosmosdb/assets/githubtemplate copy.png
  workshops/swa-cosmosdb/assets/login_window.png
  workshops/swa-cosmosdb/assets/resource-overview copy.png
  workshops/swa-cosmosdb/assets/swa-github copy.png
  workshops/swa-cosmosdb/assets/swa-tips-video-environment copy.png
  workshops/swa-cosmosdb/assets/todo copy.png
  workshops/swa-cosmosdb/assets/todo-banner copy.jpg
  workshops/swa-cosmosdb/assets/userid-copy.png
  workshops/swa-cosmosdb/workshop.md
Owners: @sinedied, @cmaneu

incorporated review comments for PR
  workshops/swa-cosmosdb/assets/connection-string copy.png
  workshops/swa-cosmosdb/assets/create-db copy.png
  workshops/swa-cosmosdb/assets/dev-container copy.png
  workshops/swa-cosmosdb/assets/finish copy.png
  workshops/swa-cosmosdb/assets/github-actions copy.png
  workshops/swa-cosmosdb/assets/githubtemplate copy.png
  workshops/swa-cosmosdb/assets/resource-overview copy.png
  workshops/swa-cosmosdb/assets/swa-github copy.png
  workshops/swa-cosmosdb/assets/swa-tips-video-environment copy.png
  workshops/swa-cosmosdb/assets/todo copy.png
  workshops/swa-cosmosdb/assets/todo-banner copy.jpg
  workshops/swa-cosmosdb/workshop.md
Owners: @sinedied, @cmaneu

docs: updated the Static web app workshop with latest programming model of SWA (#142)
  workshops/swa-cosmosdb/assets/Function_execute.png
  workshops/swa-cosmosdb/assets/UserId_inspect.png
  workshops/swa-cosmosdb/assets/banner.jpg
  workshops/swa-cosmosdb/assets/function_local_run.png
  workshops/swa-cosmosdb/assets/login_window.png
  workshops/swa-cosmosdb/assets/userid-copy.png
  workshops/swa-cosmosdb/workshop.md
Owners: @sinedied, @cmaneu

fix: allow referencing assets from parent folder (#130)
  packages/website/src/app/shared/loader.ts
Owners: @sinedied, @cmaneu

Rename エージェント to Chat participants
  workshops/github-copilot/translations/workshop.ja.md
Owners: @Philess

Add GitHub Copilot Chat exercises section in Japanese
  workshops/github-copilot/translations/workshop.ja.md
Owners: @Philess

Add Japanese translation of GitHub Copilot workshop
  workshops/github-copilot/translations/assets/agents.png
  workshops/github-copilot/translations/assets/banner.jpg
  workshops/github-copilot/translations/assets/git-commit.png
  workshops/github-copilot/translations/assets/git-commit2.png
  workshops/github-copilot/translations/assets/quickchat.png
  workshops/github-copilot/translations/assets/src/completesolution.zip
  workshops/github-copilot/translations/assets/src/exercisefiles.zip
  workshops/github-copilot/translations/workshop.ja.md
Owners: @Philess

Fix markdown styling
  workshops/github-copilot/translations/workshop.ja.md
  workshops/github-copilot/workshop.md
Owners: @Philess

Remove duplicated assets and fix paths
  workshops/github-copilot/translations/assets/agents.png
  workshops/github-copilot/translations/assets/banner.jpg
  workshops/github-copilot/translations/assets/git-commit.png
  workshops/github-copilot/translations/assets/git-commit2.png
  workshops/github-copilot/translations/assets/quickchat.png
  workshops/github-copilot/translations/assets/src/completesolution.zip
  workshops/github-copilot/translations/assets/src/exercisefiles.zip
  workshops/github-copilot/translations/workshop.ja.md
Owners: @Philess

fix(website): asset loading
  packages/website/src/app/shared/loader.ts
Owners: @sinedied, @cmaneu

docs: Add Japanese translation to the GitHub Copilot workshop (#130)
  workshops/github-copilot/translations/workshop.ja.md
  workshops/github-copilot/workshop.md
Owners: @Philess

added workshop outlines doc
  aks-workshop-plan.md
Owners: @sinedied, @cmaneu

AKS Workshop Plan (#1)
  aks-workshop-plan.md
Owners: @sinedied, @cmaneu

Create deploy-site.yml
  .github/workflows/deploy-site.yml
Owners: @sinedied, @cmaneu

chore: replacing moaw with aks-labs
  CONTRIBUTING.md
  HOW_TO_USE.md
  README.md
  aks-workshop-plan.md
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/commands/serve.ts
  packages/website/src/app/home/home.component.ts
  packages/website/src/app/shared/components/footer.component.ts
  packages/website/src/app/shared/components/header.component.ts
  packages/website/src/app/shared/constants.ts
  packages/website/src/public/404.html
  packages/website/src/public/index.html
  workshops/create-workshop/workshop.md
  workshops/getting-started-with-aks/workshop.md
Owners: @sinedied, @cmaneu, @ypauldotyu

chore: replace moaw with aks-labs removing moaw-cli adding aks theme and logos
  package-lock.json
  package.json
  packages/cli/.gitignore
  packages/cli/CHANGELOG.md
  packages/cli/LICENSE
  packages/cli/README.md
  packages/cli/bin/moaw.js
  packages/cli/package.json
  packages/cli/src/asciidoc.ts
  packages/cli/src/cli.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/convert.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/link.ts
  packages/cli/src/commands/new.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/constants.ts
  packages/cli/src/frontmatter.ts
  packages/cli/src/include.ts
  packages/cli/src/index.ts
  packages/cli/src/repository.ts
  packages/cli/src/util.ts
  packages/cli/tsconfig.json
  packages/website/src/app/catalog/catalog.component.ts
  packages/website/src/app/home/home.component.ts
  packages/website/src/public/images/aks-logo-dark.png
  packages/website/src/public/images/aks-logo-full-dark.png
  packages/website/src/public/images/aks-logo-full.png
  packages/website/src/public/images/aks-logo-mini-dark.png
  packages/website/src/public/images/aks-logo-mini.png
  packages/website/src/public/images/moaw-logo-dark.png
  packages/website/src/public/images/moaw-logo-full-dark.png
  packages/website/src/public/images/moaw-logo-full.png
  packages/website/src/public/images/moaw-logo-mini-dark.png
  packages/website/src/public/images/moaw-logo-mini.png
  packages/website/src/public/index.html
  packages/website/src/public/statslite.js
  packages/website/src/styles.scss
Owners: @sinedied, @cmaneu

contoso creative writer on aks
  workshops/ai-workloads-on-aks/workshop.md
Owners: @sinedied, @cmaneu

adding steps for ingress, troubleshooting, and service connector
  package-lock.json
  workshops/ai-workloads-on-aks/workshop.md
Owners: @sinedied, @cmaneu

feat: Add Azure Function Flex Consumption Hands On Lab
  packages/database/external.yml
Owners: @sinedied, @cmaneu

docs: Add Azure Function Flex Consumption Hands On Lab (#144)
  packages/database/external.yml
Owners: @sinedied, @cmaneu

chore: update footer
  packages/website/src/app/shared/components/footer.component.ts
  packages/website/src/public/images/bit/cat-learning.jpg
  packages/website/src/public/images/bit/student.png
Owners: @sinedied, @cmaneu

feat: Rename workshop title
  packages/database/external.yml
Owners: @sinedied, @cmaneu

docs: rename Azure Function workshop (#145)
  packages/database/external.yml
Owners: @sinedied, @cmaneu

docs: update wording
  packages/website/src/app/home/home.component.ts
Owners: @sinedied, @cmaneu

chore: Remove Statslite
  packages/website/src/public/index.html
  packages/website/src/public/statslite.js
Owners: @sinedied, @cmaneu

chore(website): remove Statslite (#146)
  packages/website/src/public/index.html
  packages/website/src/public/statslite.js
Owners: @sinedied, @cmaneu

Update workshop.md
  workshops/ai-workloads-on-aks/workshop.md
Owners: @sinedied, @cmaneu

Added a new Fabric Real-Time Intelligence tutorial
  packages/database/external.yml
Owners: @sinedied, @cmaneu

Added a new Fabric Real-Time Intelligence tutorial
  packages/database/external.yml
Owners: @sinedied, @cmaneu

docs: Added a new Fabric Real-Time Intelligence tutorial (#150)
  packages/database/external.yml
Owners: @sinedied, @cmaneu

Update external.yml with the right URL for the workshop
  packages/database/external.yml
Owners: @sinedied, @cmaneu

Use GH base url
  packages/database/external.yml
Owners: @sinedied, @cmaneu

docs: Update external.yml with the right URL for the workshop (#151)
  packages/database/external.yml
Owners: @sinedied, @cmaneu

CODEOWNERS:

# Default owners of the repository
*   @sinedied @cmaneu

# Workshop owners
workshops/aks-openai-embeddings/                @mosabami 
workshops/deploying-to-azure-container-apps/    @duffney @SophCarp
workshops/fabric-e2e-serengeti/                 @Jcardif @BethanyJep
workshops/getting-started-with-aks/             @ypauldotyu
workshops/semantic-kernel-ws/                   @Philess
workshops/github-copilot/                       @Philess
workshops/github-copilot-java/                  @yoshioterada
